[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
youtube-transcript-api = "*"
pytube = "*"
tiktoken = "*"
faiss-cpu = "*"
python-dotenv = "*"
wikipedia = "*"
numexpr = "*"

[dev-packages]

[requires]
python_version = "3.11"
